*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #2f363e;
}
@keyframes mon_anim{
	
0%
{
transform: translateY(10vh);
opacity: 0;
};

100%
{
transform: translateY(0px);
opacity: 1;
}
}

@keyframes anim_button{
	
0%
{
opacity: 0;
};

100%
{
opacity: 1;
}
}
.accueil .titre
{
	color: white;
	text-align: center;
	font-size: 50px;
	text-transform: uppercase;
	animation-name: mon_anim;
	animation-duration: 3s;
}
.accueil .texte
{
	color: white;
	text-align: center;
	font-size: 50px;
	text-transform: uppercase;
	animation-name: mon_anim;
	animation-duration: 3s;
}
.accueil .texte span
{
	color: #41f321;
	text-align: center;
	font-size: 50px;
	text-transform: uppercase;
	animation-name: mon_anim;
	animation-duration: 2s;
}
.button
{
	margin: auto;
	position: relative;
	padding: 20px;
	width: 250px;
	border: 2px solid #41f321;
	margin-top: 100px;
	display: block;
	text-decoration: none;
	color: #41f321;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: 0.5s;
	overflow: hidden;
	text-align: center;
	animation-name: anim_button;
	animation-fill-mode: both;
	animation-delay: 3s;
	animation-duration: 4s;
}
.confirm .button
{
	position: absolute;  
	bottom: 100;
	right: 830;
}
.button:hover
{
	color: #111;
	
}
.button span
{
	position: absolute;
	display: block;
	width: 0px;
	height: 0px;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	background: #41f321;
	transition: width 0.5s, height 0.5s;
	z-index: -1;
}
.button:hover span
{
	width: 500px;
	height: 500px;
}
.page1 .question
{
	color: white;
	text-align: center;
	font-size: 50px;
	text-transform: uppercase;
	animation-name: mon_anim;
	animation-duration: 3s;
}
.page1
{
	justify-content:center;
	align-items:center;
	display: flex;
	animation-name: mon_anim;
	animation-duration: 3s;
}
.page1 .jeuon
{
	margin:10px;
}
.page1 .jeuon :hover
{
	margin:100px;
	transition: 0.5s;
	color: #111;
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px green, 0 0 30px green,
    0 0 40px green, 0 0 50px green;
}
.page1 .jeuoff
{
	margin:10px;
}
.page1 .jeuoff :hover
{
	margin:100px;
	box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px red, 0 0 30px red,
    0 0 40px red, 0 0 50px red;
}
.page1 .jeufait
{
	margin:10px;
}
.page1 .jeufait :hover
{
	margin:100px;
	box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px cyan, 0 0 30px cyan,
    0 0 40px cyan, 0 0 50px cyan;
}
p
{
	color: white;
	text-align: center;
	font-size: 50px;
	margin-top: 10px;
	text-transform: uppercase;
	animation-name: mon_anim;
	animation-duration: 3s;
}
h3{
	color: white;
	font-weight: 600;
	font-size: 20px;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.accueil input
{
	margin-top:30px;
	width: 100%;
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 30px;
}
.accueil .agentrep .button{
	margin-top: 30px;
	animation-delay: 0s;
	animation-duration: 4s;
}
.accueil .titre img
{
	width: 600px;
	height:auto;
	margin:50px;
	animation-name: anim_button;
	animation-fill-mode: both;
	animation-delay: 3s;
	animation-duration: 3s;
}
.accueil .rep .button1
{
	background: #F1A92f;
	box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
	inset 2px 2px 5px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	margin: auto;
	position: relative;
	padding: 17px;
	width: 80%;
	display: block;
	text-decoration: none;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
}
.accueil .rep .button1:hover
{
	filter: brightness(1.1);
}